*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: #242424;
	font-size: 18px;
	line-height: 1.5;
}

.list-unstyled {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sliding-menu {
	background-color: #1b2c5a;
	height: 100svh;
	min-width: 24em;
	padding: 2em 1.5em;
	position: fixed;
	left: 0;
	top: 0;
	/* Animiere transform */
	/* transition: transform 1s ease-in-out; */
	/* Animation von Eigenschaften */

	/*
		Wenn möglich der Animation von position vorzuziehn, da es performanter ist (kein
		full frame redraw)
		Wir positionieren unser Menus links außerhalb des Bildschirms
	*/
	transform: translateX(-100%);
}

.sliding-menu.show {
	transform: translateX(0);
}

.sliding-menu a {
	color: white;
}

.btn-close {
	background-color: transparent;
	border: 0;
	color: white;
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 2rem;
	width: 2.5rem;
	height: 2.5rem;
	display: grid;
	place-items: center;
}